<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style2.css">
<title></title>
</head>
<body><center>
  <h3>Try again. Everything on this page is a lie.</h3>
  <form method="POST" action="/colors_results">
    <p>What is your favorite color?</p>
   <input type="radio" name="q1" value="red">Red<br>
    <input type="radio" name="q1" value="blue">Blue<br>
    <input type="radio" name="q1" value="yellow">Yellow<br>
    <input type="radio" name="q1" value="green">Green<br><br><br>
    
    <p>What is your least favorite color?</p>
   <input type="radio" name="q2" value="red">Red<br>
    <input type="radio" name="q2" value="blue">Blue<br>
    <input type="radio" name="q2" value="yellow">Yellow<br>
    <input type="radio" name="q2" value="green">Green<br><br><br>
    
    <p>What is a color you haven't chosen?</p>
    <input type="radio" name="q3" value="red">Red<br>
    <input type="radio" name="q3" value="blue">Blue<br>
    <input type="radio" name="q3" value="yellow">Yellow<br>
    <input type="radio" name="q3" value="green">Green<br><br><br>
    
    <p>Are you listening to previous instructions?</p>
    <input type="radio" name="q4" value="red">Red<br>
    <input type="radio" name="q4" value="blue">Blue<br>
    <input type="radio" name="q4" value="yellow">Yellow<br>
    <input type="radio" name="q4" value="green">Green<br><br><br>
    <br><br><br><input type="submit" value="Submit">
  </center>
</body>
</html>