<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style2.css">
<title></title>
</head>
<body><center>
  <h3>Try again. Everything on this page is a lie.</h3></center>
  <br><br>
  <form method="POST" action="/colors_results">
    <p>What is your favorite color?</p>
   <input type="radio" name="q1" value="red"><label>Red</label><br>
    <input type="radio" name="q1" value="blue"><label>Blue</label><br>
    <input type="radio" name="q1" value="yellow"><label>Yellow</label><br>
    <input type="radio" name="q1" value="green"><label>Green</label><br><br><br>
    
    <p>What is your least favorite color?</p>
   <input type="radio" name="q2" value="red"><label>Red</label><br>
    <input type="radio" name="q2" value="blue"><label>Blue</label><br>
    <input type="radio" name="q2" value="yellow"><label>Yellow</label><br>
    <input type="radio" name="q2" value="green"><label>Green</label><br><br><br>
    
    <p>What is a color you haven't chosen?</p>
    <input type="radio" name="q3" value="red"><label>Red</label><br>
    <input type="radio" name="q3" value="blue"><label>Blue</label><br>
    <input type="radio" name="q3" value="yellow"><label>Yellow</label><br>
    <input type="radio" name="q3" value="green"><label>Green</label><br><br><br>
    
    <p>Are you listening to previous instructions?</p>
    <input type="radio" name="q4" value="red"><label>Red</label><br>
    <input type="radio" name="q4" value="blue"><label>Blue</label><br>
    <input type="radio" name="q4" value="yellow"><label>Yellow</label><br>
    <input type="radio" name="q4" value="green"><label>Green</label><br>
    <br><br><br><input type="submit" value="Go">
</body>
</html>