<!DOCTYPE html>
<html>  
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>TITLE</title>
 </head>
 <body>
   <p id="Game">GameTitle</p>
   <p id="welcome">Welcome To The Hardest Riddle Game</p>
   
   <form method="get" action="/level1">
    <button type="submit">Start Game</button>
   </form>
 </body>
</html>