<!DOCTYPE html>
<html>  
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>TITLE</title>
 </head>
 <body>
   <p id="Game">RIDDLES</p>
   <p id="welcome">Figure out the riddle to continue</p>
   
   <form method="get" action="/urbanization">
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <button type="submit" style="color": transparent;>Start</button>
   </form>
 </body>
</html>