<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
  
  <center>
  <h1>Game Name</h1>
  <br><br>
  
  </center></body>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="public/style.css">
  <title>TITLE</title>
 </head>
 <body>
   <p id="Game">GameTitle</p>
   <p id="welcome">Welcome To The Hardest Riddle Game</p>
 </body>
</html>