<!DOCTYPE html>
<html>  
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>Riddles</title>
 </head>
 <body>
   <br><br><br><br><br><br>
   <p id="Game">SAVE THE PRINCESS</p>
   <p id="welcome">Solve the riddle to continue</p>
   <p> It is advised to use google</p>
   <p> Failure is expected</p>
   <p> First: Start the GAME </p>
   
   <form method="get" action="/urbanization">
    <br><br><br><br><br><br><br><br><br><br><br><br>
   <center><button type="submit" style="color": transparent;>Start</button></center>
   </form>
 </body>
</html>