<!DOCTYPE html>
<html>
  <head><title>There are more numbers</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>
<body><center>
<h2>Fill in the blank.</h2>
    <form method="POST" action="/lo_t_results">
      <p>4 , 8 , <input type="text" name="missingnumber" style="width: 50px;">, 16</p>
    <br><input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>