<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style2.css">
<title>Failure</title>
</head>
<body>
  <center>
    <h3>Incorrect. Try again.</h3>
    <form method="POST" action="/lo_t_results">
      <p>4 , 8 ,<input type="text" name="missingnumber" autocomplete="off" style="width: 50px;"> , 16</p>
    <br><input type="submit" value="Submit">
  </form>
    <br><br><br>
    
    <h6>L O _ T</h6>
  </center>
</body>
</html>