<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Failure</title>
</head>
<body>
  <center>
    <h3>Incorrect. Try again.</h3>
    <form method="POST" action="/results">
      <p>4 , 8 , </p><input type="text" name="missingnumber" style="width: 50px;"><p> , 16</p>
    <input type="submit" value="Submit">
  </form>
  </center>
</body>
</html>