<!DOCTYPE html>
<html>
  <head><title>Good luck!</title>
  <link rel="stylesheet" type="text/css" href="style2.css">
 
  </head>
  
<body>
<center>
<h2>Find the star.</h2>

<img src="http://www.funstuffonly.com/tenyoforum/images/manual_uploads/iSpyTenyo2.jpg" width="2048" height="1170" alt="iSpy1" usemap="#iSpy">

<map name="iSpy">
  <area shape="rect" coords="490,1080,530,1120" alt="Star" href="./lo_t">
  </map>
  </center>
</body>
</html>