<!DOCTYPE html>
<html>
  <head><title>A classic</title></head>
<body>
<center>
<h2>Where's Waldo?</h2>

<img src="http://i.imgur.com/OTfytjA.jpg" width="2800" height="1760" alt="waldo" usemap="#waldo">

<map name="waldo">
  <area shape="rect" coords="1150,290,1200,380" alt="Star" href="(PUT NEXT PAGE HERE)">
  </map>
  </center>
</body>
</html>