<!DOCTYPE html>
<html>
  <head><title>A classic</title>
  <link rela="stylesheet" type="text/css" href="style2.css">
  </head>
<body>
<center>

<img src="http://i.imgur.com/sQrzCi3.jpg" width="2800" height="1760" alt="waldo" usemap="#waldo">

<map name="waldo">
  <area shape="rect" coords="1150,290,1200,380" alt="Star" href="(PUT NEXT PAGE HERE)">
  </map>
  </center>
</body>
</html>