<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style2.css">
<title>The first set</title>
</head>
<body><center>
  <h2>Cake's cousin</h2>
  <img src="http://i.imgur.com/V5crFYP.jpg" width="800" height="807" alt="doors" usemap="#numbers">

<map name="numbers">
  <area shape="rect" coords="37,3,230,403" alt="1" href="./doors2">
  <area shape="rect" coords="303,3,497,403" alt="2" href="./doors2">
  <area shape="rect" coords="570,3,763,403" alt="3" href="./doors3">
  <area shape="rect" coords="37,407,230,807" alt="4" href="./doors2">
  <area shape="rect" coords="303,407,497,807" alt="5" href="./doors2">
  <area shape="rect" coords="570,407,763,807" alt="." href="./doors2">
</map>
  </center>
</body>
</html>