<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../specialstyle.css">
<title>More doors!</title>
</head>
<body><center>
  <h2>Nice! Remember: R, B, R, Y</h2>
  <br><br>
  <p class="shade1">Try</p><p class="shade2"> looking</p><p class="shade3"> in the</p><p class="shade4"> dark.</p>
  <br><br><br><br><br>
  <a href="/lo_t"><img src="http://i.imgur.com/ZBBAETC.png" alt="found me"></a>
  </center>
</body>
</html>