<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../specialstyle.css">
<title>More doors!</title>
</head>
<body><center>
  <h2>Nice! Remember: R, B, R, Y</h2>
  <br><br><br><br><br>
  <p>Hint: Try looking in the dark.</p>
  <br><br><br><br><br><br><br><br><br>
  </center>
  <a href="/lo_t"><img src="http://i.imgur.com/ZBBAETC.png" height="50" alt="found me"></a>
</body>
</html>