<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../style2.css">
<title>More doors!</title>
</head>
<body><center>
  <h2>Nice! Remember: R, B, R, Y</h2>
  <!-- add form button -->
  </center>
</body>
</html>