Body {
  background-color:black;
}

h2{
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
  color:white
}

p{
  display:inline;
  color:#444444;
}