body {
    background-image: url("http://i.imgur.com/QfdJ7Fy.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}

button {
   position: relative;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
    background: transparent;
    border: none !important;
    font-size:0;
  }
p{
      color:White;
  position: relative;
      
}
